<div *ngIf="service.status() === 'loading'" [@outAnimation] class="animate-pulse pointer-events-none">
    <div class="absolute w-full">
        <div class="pt-2 mb-2 px-4 font-bold h-7 flex">
            <div class="opacity-50 rounded h-4 inline-block w-20 content-center" [ngStyle]="{background: color}">&nbsp;
            </div>
        </div>
        <div *ngFor="let item of [1,2,3]" style="margin-bottom: 0.375rem"
            class="flex whitespace-nowrap py-2 px-4 items-center">
            <div class="bg-gray-300 w-5 h-5 rounded-full ml-[2px]"></div>
            <div class="flex-1 ml-2">
                <div class="bg-gray-400 w-24 h-4 mt-1"></div>
                <div class="bg-gray-300 w-16 h-3 mt-2"></div>
            </div>
            <div class="bg-gray-300 w-16 h-4"></div>
        </div>
        <div class="mb-1 flex whitespace-nowrap py-2 px-4 place-content-between">
            <div class="mt-1 h-3 w-24 opacity-30" [ngStyle]="{ background: color }"></div>
            <div class="mt-1 h-4 w-16 opacity-50" [ngStyle]="{ background: color }"></div>
        </div>
    </div>
</div>
<div *ngIf="service.status() === 'error'">
    <p>{{ service.error() }}</p>
    <button (click)="service.retry$.next()">Retry</button>
</div>
<div *ngIf="service.status() === 'success' && !!group" [@inAnimation]>

    <div class="pb-2 px-4 flex">
        <div class="text-xl font-bold" [ngStyle]="{color: color}">
            {{group.name}}
        </div>
    </div>

    <div *ngFor="let transaction of service.visibleTransactions()"
        class="rounded bg-slate-50 mb-1 flex whitespace-nowrap py-2 px-4 shadow items-center">
        <app-icon [iconName]="transaction.icon" [color]="color" class="mr-2"></app-icon>
        <div class="flex-1">
            <div>{{transaction.title}}</div>
            <div class="text-sm leading-tight text-gray-600">{{transaction.category}}&nbsp;</div>
        </div>
        <div class="font-semibold">{{transaction.value | currencyFormatted }}</div>
    </div>

    <div>

        <div *ngIf="service.transactions().length" [ngStyle]="{color: color}"
            class="mb-1 flex whitespace-nowrap py-2 px-4 place-content-between items-end flex-row-reverse">

            <a routerLink="new" class="flex top-0 items-center text-sm cursor-pointer hover:underline">
                <app-icon iconName='Plus' [color]="color" [size]="16"></app-icon>
                <div class="flex-1">Add</div>
            </a>

            <!-- <div class="font-semibold show-on-hover">{{service.sum() | currency: 'SEK' :
                'symbol-narrow':'0.0-0'}}</div> -->

            <div *ngIf="service.transactions().length > service.THRESHOLD">
                <div (click)="service.showAll$.next(!service.showAll())" class="text-sm cursor-pointer hover:underline"
                    tabindex="-1">
                    Show {{
                    service.showAll() ?
                    'fewer ⏶' :
                    ( (service.transactions().length - service.visibleTransactions().length) + ' more ⏷' )
                    }}
                </div>
            </div>

        </div>

        <div *ngIf="!service.transactions().length" class="px-4 py-2 mb-4 rounded bg-gray-300">
            <i>No transactions</i>
        </div>

    </div>

</div>