<div>
    <app-sidenav></app-sidenav>
</div>

<div>
    <app-header></app-header>
    <app-current-balance></app-current-balance>
</div>

<ng-container *ngIf="service.status() === 'error'">
    {{service.error()}}
</ng-container>

<ng-container *ngIf="service.status() === 'success'">
    <app-transactions-group *ngFor="let group of service.groups()" [group]="group" [color]="group.color">
    </app-transactions-group>
</ng-container>

<ng-container *ngIf="service.status() === 'loading'">
    <app-transactions-group>
    </app-transactions-group>
</ng-container>

<router-outlet></router-outlet>